#
# Alias
#
alias restart_shell="exec $SHELL"
alias ls='ls --color=auto'
alias c="clear"
alias search="rg -S"

# git
alias gs="git status"
alias gco="git checkout"
alias ggn="git grep -n"
alias gd="git diff"
alias gb="git branch"
alias gl="git log"
alias gitapplyplz="git apply --ignore-space-change --ignore-whitespace"
alias gc="git commit"

# utility
alias findlarge='function _findlarge() { find "${1:-.}" -type f -print0 | xargs -0 du -sh | sort -rh | head -n "${2:-10}"; }; _findlarge'
