[user]
	name = Ben Cutrell
	email = bcutrell13@gmail.com

[core]
	excludesfile = /Users/bcutrell/.gitignore_global

[credential]
	helper = osxkeychain

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[rebase]
	autoStash = true

[alias]
	lg = log --oneline --graph --decorate --all
